# Exclude local/editor transient artifacts from git-archive release packages.
**/.DS_Store export-ignore
**/.pytest_cache/** export-ignore
**/.ipynb_checkpoints/** export-ignore
**/__MACOSX/** export-ignore
